@font-face{
    font-family: lemon;
    src: url(../fonts/LemonJellyPersonalUse-dEqR.ttf);
}
@font-face{
    font-family: poopins;
    src: url(../fonts/Poppins-Bold.ttf);
}
@font-face{
    font-family: kushan;
    src: url(../fonts/KaushanScript-Regular.ttf);
}